{% extends 'students/profile_base.html'%}

{% block page_content %}

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	<div class="tab-pane" id="profile">
		<div class="ed_dashboard_inner_tab">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">Assignments</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="view">
					<div class="ed_dashboard_inner_tab">

						<table id="profile_view_settings">
<tbody>
  {% for s in t %}
  <tr>
  <th>{{s.subject}}</th>
   <td>

  {% for i in a %}
  <tr>
  {% if i.teacher.user.first_name == s.user.first_name %}
    <td> <a href="{{i.file.url}}">{{i.file}}</a></td>
    <td>Last Date: {{i.duedate}}</td>
    

    {% endif %}
  </tr>
    {% endfor %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>




{% endblock %}
