{% extends 'teachers/profile_base.html'%}
{% load custom_tags %}
{% block page_content %}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
  <div class="tab-pane" id="profile">
    <div class="ed_dashboard_inner_tab">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">Take attendance of class {{class_info.name}}</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="view">
          <div class="ed_dashboard_inner_tab">
            {% if m != None %}
              <h1>{{m}}</h1>
            {% else %}
            <form class="ed_tabpersonal" method="post">
              {% csrf_token %}
              <table id="profile_view_settings">             
               <tbody>
                <tr>
                  <th>Roll No. </th>
                  <th>Name</th>
                  <th>Status</th>
                </tr>
                {% for st in students %}
                <tr>
                  <td>{{st.roll_no}}</td>
                  <td>{{st.user.first_name}}</td>

                  <td><input type="checkbox" name="present[]" value="{{ st.roll_no }}"></td>
                </tr>
      
              {% endfor %}
      
              </tbody>
            </table>
            <input class="btn ed_btn ed_orange" type="submit" name="Submit" value="Add Attendance">
          </form>
          {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

