{% extends 'base.html' %}

{% block content %}
<!--Breadcrumb start-->
<div class="ed_pagetitle">
<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="page_title">
					<h2>sign up</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<ul class="breadcrumb">
					<li><a href="index.html">home</a></li>
					<li><i class="fa fa-chevron-left"></i></li>
					<li><a href="signup.html">sign up</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Breadcrumb end-->
<div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
				<div class="ed_teacher_div">
					<div class="ed_heading_top">
						<h3>sign up</h3>
					</div>
					<form class="ed_contact_form ed_toppadder40">
						<div class="form-group">
							<label class="control-label">User Name :</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">Email :</label>
							<input type="email" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">Password :</label>
							<input type="password" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label">Confirm Password :</label>
							<input type="password" class="form-control">
						</div>
						<a href="#" class="btn ed_btn ed_orange pull-right">sign up</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



    <div class="parallax-signup" data-parallax="scroll" data-z-index="1" data-image-src="/static/2.jpg">
    <br>
    <br>
    <h1 class="para-signup" align = "center">SIGN UP</h1>
    <form class="site-form-signup" method="post">
        {% csrf_token %}
      {{form}}
      <input type="submit"value="signup">
    </form>
  </div>

{% endblock %}
