{% load static from staticfiles %}

<!DOCTYPE html>
<html lang ="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">
      <meta ht  tp-equiv="x-ua-compatible" content="ie-edge">
      <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
      <link rel ="stylesheet" href="{% static 'font-awesome.4.7.css' %}" >
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 
     
      <link rel ="stylesheet" href="{% static 'style.css' %}" >
    
      
      <script src="{% static 'parallax.min.js' %}"></script>
      <script src="{% static 'jquery.min.js' %}"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     
      <script src="{% static 'parallax.min.js' %}"></script>
     
      <title>School</title>
      </head>
   <body>

 
<!--Navbar-->
  
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>SCHOOL</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav navbar-right">
           {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">Register</a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user"></i>Hello {{ request.user.first_name}} 
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
         
         <a class="dropdown-item"> <form classs="logout_link" action ="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type ="submit" class="btn btn-link navbar-btn">Logout</button>
                  </form>
          </a>

         
        
           {% endif %}
      </div>
      </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </ul>
     
  </div>
</nav>

<!--Navbar -->

            {% block content %}

          {% endblock %}


          <script type="text/javascript" src ="{% static 'js/jquery-3.3.1.min.js' %}"></script>
           <script type="text/javascript" src ="{% static 'js/popper.min.js' %}"></script>
           <script type="text/javascript" src ="{% static 'js/bootstrap.min.js' %}"></script>
           <script type="text/javascript" src ="{% static 'js/mdb.min.js' %}"></script>
           <script type="text/javascript" src="{% static 'main.js' %}"></script>
          
  </body>
</html>
