{% extends 'base.html' %}
{% block content %}

<!--checkout start-->
<div class="ed_graysection ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="woo-cart-table">
					<div class="row">
						<form class="checkout woocommerce-checkout" method="post">
              {% csrf_token %}
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h3 class="checkout-heading">Payment Status</h3>
								<div class="row">

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label>Order Id</label>
											{{response_dict.ORDERID}}
										</div>
									</div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Transaction Id</label>
                      {{response_dict.TXNID}}
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Bank Transaction Id </label>
                      {{response_dict.BANKTXNID}}
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Mode Of Payment </label>
                      {{response_dict.PAYMENTMODE}}
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Gateway Name </label>
                      {{response_dict.GATEWAYNAME}}
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Transaction Amount</label>
                      {{response_dict.TXNAMOUNT}}
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Transaction Date</label>
                      {{response_dict.TXNDATE}}
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Transaction Status</label>
                      {% if response_dict.RESPCODE == '01' %}  Success {% else %} Failed {% endif %}
                    </div>
                  </div>


  </div>
  </div>
  </form>

        <form action="{% url 'fee:pdf' f.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn ed_btn pull-right ed_orange" name="submit" value="Download Receipt">
          <br>

        </form>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
